@charset "UTF-8";

body {
    margin: 0;
    background-color: black;
}

#player {
    background-color: hotpink;
    width: 40px;
    height: 40px;
    position: absolute;
}

#obstaculo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rebeccapurple;
}